<ion-content fullscreen>
    <ion-slides class="h-full" pager="true">
        <ion-slide>
            <div class="flex flex-col p-3 justify-start">
                <img class="flex-shrink" src="/assets/slide-1.png"/>
                <h2 class="my-2">Welcome to DevCon 2020</h2>
                <p>
                    <b class="block">Reimagining Learning </b>
                    For the past three years, DevCon has seeded ideas that may have been small steps in digital learning
                    but that have enabled India to take giant leaps in providing access to learning for millions of
                    students.
                </p>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="flex flex-col p-3 justify-start">
                <img class="flex-shrink" src="/assets/slide-1.png"/>
                <h2 class="my-2">Welcome to DevCon 2020</h2>
                <p>
                    <b class="block">Reimagining Learning </b>
                    For the past three years, DevCon has seeded ideas that may have been small steps in digital learning
                    but that have enabled India to take giant leaps in providing access to learning for millions of
                    students.
                </p>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="flex flex-col p-3 justify-start">
                <img class="flex-shrink" src="/assets/slide-1.png"/>
                <h2 class="my-2">Welcome to DevCon 2020</h2>
                <p>
                    <b class="block">Reimagining Learning </b>
                    For the past three years, DevCon has seeded ideas that may have been small steps in digital learning
                    but that have enabled India to take giant leaps in providing access to learning for millions of
                    students.
                </p>
                <ion-button (click)="continue()" class="my-4 mb-16" fill="clear">Continue
                    <ion-icon name="arrow-forward" slot="end"></ion-icon>
                </ion-button>
            </div>
        </ion-slide>
    </ion-slides>
</ion-content>
