<!-- Creation -->
<ion-item-group>
  <ion-item-divider>
    <ion-label><h1><strong>Creation</strong></h1></ion-label>
  </ion-item-divider>

  <ion-item>
    <ion-label>Taxonomy Alignment</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Crossword generation</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>AR/VR Content</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Interactive Videos</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Live Coaching Session</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Creation Anywhere</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Video Wiki</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Auto Creation</ion-label>
  </ion-item>
</ion-item-group>


<!--Games-->
<ion-item-group>
  <ion-item-divider>
    <ion-label><h1><strong>Games</strong></h1></ion-label>
  </ion-item-divider>

  <ion-item>
    <ion-label>Wordnet</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Reading Quality Index</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Hangman</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Multiplayer game</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Adoptive game</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Rock Paper Scissors</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Beat the bot</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Career Path</ion-label>
  </ion-item>
</ion-item-group>

<!--Devops-->
<ion-item-group>
  <ion-item-divider>
    <ion-label><h1><strong>Devops</strong></h1></ion-label>
  </ion-item-divider>

  <ion-item>
    <ion-label>Magic Mirror</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Entry Gate</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Water Pot</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>GitOps</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>AIOps</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Anamoly Detection</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Video Wiki</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Auto Creation</ion-label>
  </ion-item>
</ion-item-group>