<div class="flex flex-col items-center justify-center h-full w-full" style="background-color: #7334F1">
    <div class="registration-form bg-transparent w-9/12">
        <header>
            <h2 class="font-bold text-lg">Register your name:</h2>
        </header>
        <form [formGroup]="profileDetailsForm">
            <div class="input-section name">
                <input [formControl]="nameControl" class="user-name" type="text" placeholder="Enter your name here">
                <div class="animated-button" (click)="profileDetailsForm.valid && submitForm()">
                    <span class="icon-lock" [class.next]="nameControl.valid">
                        <fa-icon [icon]="faLock" size="1x"></fa-icon>
                    </span>
                    <span class="next-button">
                        <fa-icon [icon]="faPaperPlane" size="1x"></fa-icon>
                    </span>
                </div>
                <div class="success" [ngStyle]="{marginTop: (submitSuccess ? '0px' : '-75px')}">
                    <p>SUCCESSFULLY REGISTERED</p>
                </div>
            </div>
        </form>
    </div>
</div>
