<div class="flex flex-col items-center justify-center h-full w-full" style="background-color: #2FCBAA">
    <div class="flex-shrink-0 flex-grow flex flex-col justify-center registration-form bg-transparent w-9/12">
        <div>
            <header>
                <h2 class="font-bold text-lg">Register your name:</h2>
            </header>
            <form [formGroup]="profileDetailsForm">
                <div class="input-section name">
                    <input [formControl]="nameControl" class="user-name" placeholder="Enter your name here" type="text">
                    <div (click)="profileDetailsForm.valid && submitForm()" class="animated-button">
                    <span class="icon-lock" [class.next]="nameControl.valid">
                        <fa-icon [icon]="faLock" size="1x"></fa-icon>
                    </span>
                        <span class="next-button">
                        <fa-icon [icon]="faPaperPlane" size="1x"></fa-icon>
                    </span>
                    </div>
                    <div [ngStyle]="{marginTop: (submitSuccess ? '0px' : '-75px')}" class="success">
                        <h2 class="font-bold text-lg text-white px-4">Successfully Registered</h2>
                    </div>
                </div>
            </form>
        </div>
    </div>

<!--    <div class="flex-shrink-0 flex flex-row justify-between w-full">-->
<!--        <div (click)="navigateToLogStallAttendance() " class="bg-orange-100 p-5">-->
<!--            Stall Attendance-->
<!--        </div>-->

<!--        <div (click)="navigateToRegisterOfflineUser()" class="bg-orange-100 p-5">-->
<!--            Register offline-->
<!--        </div>-->
<!--    </div>-->
</div>
