<!--<div class="flex flex-col items-center justify-center h-full w-full" style="background-color: #2FCBAA">-->
<!--  <div class="registration-form bg-transparent w-9/12">-->
<!--    <header>-->
<!--      <h2 class="font-bold text-lg">Offline User Register</h2>-->
<!--    </header>-->
<!--    <form [formGroup]="offlineProfileDetailsForm">-->
<!--      <div class="input-section name">-->
<!--        <input [formControl]="nameControl" class="user-name" type="text" placeholder="Enter QR CODE">-->
<!--        <div class="animated-button" (click)="offlineProfileDetailsForm.valid && submitForm()">-->
<!--                    <span class="icon-lock" [class.next]="nameControl.valid">-->
<!--                        <fa-icon [icon]="faLock" size="1x"></fa-icon>-->
<!--                    </span>-->
<!--          <span class="next-button">-->
<!--                        <fa-icon [icon]="faPaperPlane" size="1x"></fa-icon>-->
<!--                    </span>-->
<!--        </div>-->
<!--          <div class="input-section name">-->
<!--              <input [formControl]="nameControl" class="user-name" type="text" placeholder="Enter Your Name">-->
<!--              <div class="animated-button" (click)="offlineProfileDetailsForm.valid && submitForm()">-->
<!--                    <span class="icon-lock" [class.next]="nameControl.valid">-->
<!--                        <fa-icon [icon]="faLock" size="1x"></fa-icon>-->
<!--                    </span>-->
<!--                  <span class="next-button">-->
<!--                        <fa-icon [icon]="faPaperPlane" size="1x"></fa-icon>-->
<!--                    </span>-->
<!--              </div>-->
<!--          </div>-->
<!--        <div class="success" [ngStyle]="{marginTop: (submitSuccess ? '0px' : '-75px')}">-->
<!--          <p>SUCCESSFULLY REGISTERED</p>-->
<!--        </div>-->
<!--      </div>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->

<div>
    <form [formGroup]="offlineProfileDetailsForm" (submit)="submitForm()">
        <label>vcode</label>
        <hr>
        <input class="border border-2 rounded" type="text" [formControl]="vcodeControl">
        <hr>
        <label>name</label>
        <hr>
        <input class="border border-2 rounded" type="text" [formControl]="nameControl">
        <hr>
        <button type="submit" [disabled]="offlineProfileDetailsForm.invalid">Submit</button>
    </form>
</div>