.dc-text-center{
  text-align: center;
}

.dc-pt-pb-10{
  padding: 10% 0;
}

.dc-session-img{
  margin: auto;
  height: 70px;
  padding-bottom: 15px;
}

.dc-session-input{
  border: 1px solid grey;
  padding: 8px;
  border-radius: 3px;
  margin: 16px 0 20px;
  width: 80%;
}

.dc-session-title{
  font-size: 20px;
  color: #6f0f6f;
  font-weight: 500;
}

.dc-session-message{
  font-size: 14px;
  color: grey;
}

.dc-btn-outline{
  color: #525252;
  border: 1px solid #525252;
  border-radius: 5px;
  padding: 4px 16px;
}

.dc-red-text{
  color: red;
}
