<div class="overflow-y-scroll w-full h-full">
  <div class="flex justify-between mb-5 p-5">
    <div class="flex flex-row justify-center items-center">
      <img [src]="profilePicURL" class="flex-grow-0 flex-shrink-0 rounded-full w-20 h-20 mr-5">
      <div>
        <p class="flex-grow-0 flex-shrink-0 block font-bold text-lg">{{profileName}}</p>
        <p class="text-red-500 font-bold">{{ getUserAwardedPoints$ | async }}</p>
      </div>
    </div>

    <div *ngIf="qrcodeDataURL" class="border-dashed border-2 p-1 rounded" (click)="expandQrCode()">
      <img [src]="qrcodeDataURL" class="w-20 h-20">
    </div>
  </div>

  <div class="mb-5 p-5 pr-0 pl-0">
    <h1 class="font-bold text-md mb-5 ml-5">Badges</h1>
    <div class="overflow-x-scroll overflow-y-hidden whitespace-no-wrap h-24">
      <div *ngFor="let badge of (getProfileCertificates$ | async)">
        <div class="inline-block rounded-full w-16 h-16 mx-3">
          <ng-container *ngIf="certificateNameMap[badge._source.data.badge.name]">
            <img [src]="'/assets/badges/' + badge._source.data.badge.name + '.png'">
            <p>{{certificateNameMap[badge._source.data.badge.name]}}</p>
          </ng-container>
          <ng-container *ngIf="!certificateNameMap[badge._source.data.badge.name]">
            <img [src]="'/assets/badges/Default.png'">
            <p>''</p>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <div *ngFor="let stall of stallList; let stallIndex = index" class="stall-container rounded mb-5 p-5">
    <h1 class="text-lg font-bold mb-5" style="font-size: 24px" (click)="openSessionPopup(stall.name)" >{{stall.name}}</h1>
    <div>
      <div>
        <div class='app_inner'>
          <ng-container *ngFor="let idea of stall.ideas; let ideaIndex = index">
            <input [id]="'tab-' + stallIndex + '-' + ideaIndex" checked='' name='buttons' type='radio'>
            <label [for]="'tab-' + stallIndex + '-' + ideaIndex">
              <div class='app_inner__tab'>
                <h2 class="text-white">
                  {{idea.name}}
                </h2>
                <div class="tab_left">
                  <h2 class="big text-white opacity-75 text-lg">{{idea.name[0]}}</h2>
                  <div class='tab_left__image'>
                    <h2 class="text-white text-lg">{{idea.name[0]}}</h2>
                  </div>
                </div>
                <div class='tab_right'>
                  <p class="text-white">{{idea.description}}</p>
                  <div *ngIf="ratingsMap[idea.code]">
                    <fa-icon *ngFor="let i of arrayGen(ratingsMap[idea.code] / 20)" [icon]="faSolidStar"
                             size="2x"></fa-icon>
                  </div>
                  <div *ngIf="!ratingsMap[idea.code]">
                    <fa-icon (click)="postFeedback(1, idea.code)" [icon]="faRegularStar" size="2x"></fa-icon>
                    <fa-icon (click)="postFeedback(2, idea.code)" [icon]="faRegularStar" size="2x"></fa-icon>
                    <fa-icon (click)="postFeedback(3, idea.code)" [icon]="faRegularStar" size="2x"></fa-icon>
                    <fa-icon (click)="postFeedback(4, idea.code)" [icon]="faRegularStar" size="2x"></fa-icon>
                    <fa-icon (click)="postFeedback(5, idea.code)" [icon]="faRegularStar" size="2x"></fa-icon>
                  </div>
                </div>
              </div>
            </label>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
