<div class="overflow-y-scroll w-full h-full">
  <div class="flex justify-between mb-5 p-5">
    <div class="flex flex-row justify-center items-center">
      <img [src]="profilePicURL"
           class="flex-grow-0 flex-shrink-0 rounded-full w-20 h-20 mr-5 border-2 border-green-400">
      <div>
        <p class="flex-grow-0 flex-shrink-0 block font-bold text-lg">{{profileName}}</p>
        <div class="flex flex-row justify-start">
          <fa-icon [icon]="faGem" class="text-red-500" size="1x"></fa-icon>
          <p class="text-red-500 font-bold pl-2">{{ (getUserAwardedPoints$ | async) || 0 }} points</p>
        </div>
      </div>
      <div class="flex justify-between mb-5 p-5">
        <fa-icon [icon]="faMap" (click)="navigateToMapsPage()"></fa-icon>
      </div>
    </div>

    <div *ngIf="qrcodeDataURL" class="border-dashed border-2 p-1 rounded" (click)="expandQrCode()">
      <img [src]="qrcodeDataURL" class="w-20 h-20">
      <p style="text-align: center">{{qrCode}}</p>
    </div>
  </div>

  <div *ngIf="(getProfileCertificates$ | async) as badges" class="mb-5 p-5">
    <h1 class="font-bold text-md mb-5">Badges</h1>
    <div>
      <div *ngFor="let badge of badges">
        <div class="flex flex-row mb-4 justify-between items-center p-4 rounded-lg border border-dashed border-black-2">
          <div class="flex flex-row items-center">
            <ng-container *ngIf="certificateNameMap[badge._source.data.badge.name]">
              <img [src]="'/assets/badges/' + badge._source.data.badge.name + '.png'" class="h-16 mx-3">
              <p style="font-weight: bold; padding-left: 2px;">{{certificateNameMap[badge._source.data.badge.name]}}</p>
            </ng-container>
            <ng-container *ngIf="!certificateNameMap[badge._source.data.badge.name]">
              <img [src]="'/assets/badges/Default.png'" class="rounded-full w-16 h-16 mx-3">
              <p>''</p>
            </ng-container>
          </div>

          <div *ngIf="(hasExit$ | async)">
            <fa-icon (click)="downloadCertificate(badge._source.pdfUrl)" [icon]="faArrowAltCircleDown"
                     class="text-red-500" size="2x"></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngFor="let stall of stallList; let stallIndex = index" class="stall-container mb-5 p-5">
    <h1 class="text-lg font-bold mb-5" style="font-size: 24px">{{stall.name}}</h1>
    <div class="rounded-lg overflow-hidden">
      <div>
        <div class='app_inner'>
          <ng-container *ngFor="let idea of stall.ideas; let ideaIndex = index">
            <input [id]="'tab-' + stallIndex + '-' + ideaIndex" checked='' name='buttons' type='radio'>
            <label [for]="'tab-' + stallIndex + '-' + ideaIndex">
              <div class='app_inner__tab'>
                <h2 class="text-white" (click)="openHomeAssessment(idea.name)">
                  {{idea.name}}
                </h2>
                <div class="tab_left">
                  <h2 class="big text-white opacity-75 text-lg">{{idea.name[0]}}</h2>
                  <div class='tab_left__image z-10' (click)="openHomePopup(idea.name)">
                    <h2 class="text-white text-lg" style="font-weight: bold; font-size: 3em; left: 0; right: 0">{{idea.name[0]}}</h2>
                  </div>
                </div>
                <div class='tab_right'>
                  <p class="text-white mb-2">{{idea.description}}</p>
                  <div *ngIf="ratingsMap[idea.code]" class="my-4 whitespace-no-wrap overflow-visible">
                    <fa-icon class="text-white" *ngFor="let i of arrayGen(ratingsMap[idea.code] / 20)"
                             [icon]="faSolidStar"
                             size="2x"></fa-icon>
                    <fa-icon *ngFor="let i of arrayGen((5 - ratingsMap[idea.code] / 20))" [icon]="faRegularStar"
                             class="text-white"
                             size="2x"></fa-icon>
                  </div>
                  <div *ngIf="!ratingsMap[idea.code]" class="my-4 whitespace-no-wrap overflow-visible">
                    <fa-icon class="text-white" (click)="postFeedback(1, idea.code)" [icon]="faRegularStar"
                             size="2x"></fa-icon>
                    <fa-icon class="text-white" (click)="postFeedback(2, idea.code)" [icon]="faRegularStar"
                             size="2x"></fa-icon>
                    <fa-icon class="text-white" (click)="postFeedback(3, idea.code)" [icon]="faRegularStar"
                             size="2x"></fa-icon>
                    <fa-icon class="text-white" (click)="postFeedback(4, idea.code)" [icon]="faRegularStar"
                             size="2x"></fa-icon>
                    <fa-icon class="text-white" (click)="postFeedback(5, idea.code)" [icon]="faRegularStar"
                             size="2x"></fa-icon>
                  </div>
                </div>
              </div>
            </label>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <a (click)="exit()" *ngIf="stallList.length" class="block w-full bg-green-500 p-4 text-white text-center">Exit</a>
</div>
